.registrazione {
    background-image: url('../../images/pictures/book_time_macarons.jpg');
    background-repeat: no-repeat;
    padding-bottom: 50%;
}

.titolo {
    color: black;
    font-family: cursive;
    font-size: 260%;
    margin-top: 5%;
}

.form-reg {
    background-color: rgba(161, 204, 204, 0.637);
    margin-top: 5%;
    padding-bottom: 3%;
    border-radius: 10px;
}